.songDetailsHolder {
    position: absolute;
    top: 0%;
    left: 5%;
}

#songName {
    color: white;
    font-size: 60px;
    text-decoration: underline;
    visibility: hidden;
    margin-block-end: 0px;
}

#songAuthor {
    margin-block-start: 10px;
    color: white;
    font-size: 30px;
    visibility: hidden;
}

.mediaHolder {
    margin-left: auto;
    margin-right: auto;
}

#mediaBtn {
    margin: 20px;
    width: 75px;
    height: 45px;
    outline: none;
    background-color: transparent;
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}

#mediaBtn:hover {
    cursor: pointer;
}

#timeStamp {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    
    #songName {
        float: none;
        font-size: 1.2em;
    }

    #songAuthor {
        float: none;
        font-size: 1em;
    }

    .songDetailsHolder {
        width: 100%;
        left: 0%;
        position: fixed;
        float: none;
        text-align: center;
    }

    #mediaBtn {
        width: 35px;
        height: 35px;
    }
} 