.optionsHolder {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#options {
    width: 50px;
}

@media only screen and (max-width: 600px) {

    .optionsHolder {
        position: fixed;
        bottom: 5%;
        font-size: 10px;
    }
} 